    
#info p{
  font-family:Ink Free;
  color:rgb(41, 83, 83);}
#header h1{
font: italic  "Fira Sans", serif;}
#about ul{
  font-size:15px;
}
#projects ul{
    color:crimson;
}
#projects h3{
    font-family:Ink Free;
color:mediumpurple;

}
.about-me {
  text-align: center;
}
#header div{
  background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");
}

#info{
  background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_5.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1552a7bdc2ea7b6e17d8d0d893c15be3");
}
#headings{
  text-align:center;
}
#about p{
  text-align:center;
}

input:hover{
  border-color:yellow;
  color:blueviolet;
}
div.card-body{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRu4LE7xKhPAO6QnqcNwlcw94fmm8mWCrVsKmeGNpytUB6AdmF0WusoBbCYNJWwjfOjmQjxVHDMrsHpAnQOeo5FrlqAVhslyME5RFba&usqp=CAU&ec=45687380");}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

